.root {
  display: grid;
  grid-template-columns: 275px minmax(500px, 1fr) 365px;
  grid-template-rows: 1fr;
  max-width: map-get($breakpoints, xl);

  min-height: 100vh;
  padding: 0 75px;
  margin: auto;

  nav {
    grid-column: 1/2;
    grid-row: 1/2;
    max-height: 100vh;
  }

  main {
    grid-column: 2/3;
    grid-row: 1/2;
    border-right: 1px solid map-get($borderColor, primary);
    border-left: 1px solid map-get($borderColor, primary);
    margin: 0 45px;

    @media (max-width: 450px) {
      main {
        grid-column: 1/-1;
        margin: 0;
      }
    }

    section {
      grid-column: 3/4;
      grid-row: 1/2;
      max-height: 100vh;
    }
  }
}

.root {
  section {
    position: sticky;
    top: 0;
    margin-top: 12px;
    .search-bar {
      position: relative;
      border-radius: 100%;
      position: sticky;
      ::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .trends-container,
    .suggested-account-container {
      width: 100%;
      margin-top: 25px;
      border-radius: 12px;
      background: map-get($background, primary);
      border: 1px solid map-get($borderColor, primary);
      .avatar {
        display: inline-block;
        margin-right: 10px;
        width: 50px;
        height: 50px;
      }
      .body1 {
        font-size: 15px;
        font-weight: bold;
      }
      .subtitle {
        font-size: 13px;
      }
    }
  }
}
